---
layout: temp
nav:
  noHeader: false # Triggers a white background on main nav
---

{% include home_header.html %}

<div class="container home-container" ng-controller="Home">
  <div class="row" id="about">
    <div class="home-masonry">

      {% for post in site.categories.cover %}
      <a class="col-sm-6 col-md-4  blog-box"  href="{{ post.url | prepend: site.baseurl }}">
        <div class="box-wrapper">
          <img src="{{ post.cover_image.thumb }}" alt="">
          <div class="caption">
            <h2>{{ post.title }}</h2>
            <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!-- <div class="col-md-6">
      <h1 class="page-heading">Posts</h1>

      <ul class="post-list">
        {% for post in site.categories.cover %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div> -->
  </div>
</div>
