<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- <img src="/assets/moi.png"/> -->
      <div class="col-md-6 col-md-offset-3 text-center col-sm-6 col-sm-offset-0">
        <a href="https://www.facebook.com/dfabreguette" class="social fb" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/davonrails" class="social tw" target="_blank">
          <i class="fa fa-twitter"></i>
          <span class="mini">PRO</span>
        </a>
        <a href="https://twitter.com/davfabr" class="social tw" target="_blank">
          <i class="fa fa-twitter"></i>
          <span class="mini">SPI</span>
        </a>
        <a href="#" class="social pt" target="_blank">
          <i class="fa fa-pinterest"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 text-right copyright">
        © {{ site.time | date: '%Y' }} - Tous droits réservés
      </div>
    </div>
  </div>
  <!-- <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div> -->


</footer>
